/* Theme colors
--star-command-blue: #067cb3ff; //Lock
--black: #000000ff; //Lock
--periwinkle-crayola: #bbc2e2ff; //Lock
--sticky-note-yellow: #EDF7D2 //Lock
*/ 

/* Overall */
html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    padding: 0;
    margin: 0;
    color: black;
}

.background-container {
    background:linear-gradient(315deg, rgba(242, 244, 243, 1) 20%, rgba(9, 12, 155, 1) 100%);
    width: 100vw;
    height: 100vh;
}

.slide-page {
    overflow: hidden;
    width: 0;
    transition: .7s;
    z-index: 2;
    position: absolute;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 95vh;
    top: 2.5vh;
    background:radial-gradient(circle at 48% 59%, rgba(242, 244, 243, 1) 0%, rgba(9, 12, 155, 1) 100%);
}

.sliding-page {
    width: 90vw;
}

.card-rotate {
    transform: rotateY(180deg);
}

img {
    transform: scale(1);
    transition: .15s;
}

img:hover {
    transform: scale(1.25);
    transition: .15s;
}

.section-title {
    font-size: 2.5rem;
    font-style: italic;
    width: 50vw;
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}


/* Navigation */
.open-button, .navbar-container, .close-button {
    display: none;
}

.button-tab {
    z-index: 1;
    position: absolute;
    font-size: 1vw;
    border: none;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    background-color: #067cb3ff;
    color: white;
    width: 9.5vw;
    height: 5.5vh;
    cursor: pointer;
    transition: .7s;
    text-align: end;
    padding-right: .5rem;
    font-family: 'Courier New', Courier, monospace
}

.button-tab:hover {
    width: 11vw;
}

.open {
    transform: translateX(89vw);
    width: 10vw;
}

.open:hover {
    width: 10.5vw;
}

.close {
    transform: translateX(0vw);
    width: 9vw;
    transition: 1s;
}

#tech-button {
    top: 5vh;
}

#qual-button {
    top: 11.5vh;
}

#serv-button {
    top: 18vh;
}

#styleswitch {
    bottom: 8.5vh;
}

#htmlonly {
    bottom: 2vh;
}


/* Landing */
.spash-page {
    position: absolute;
    text-align: justify;
    right: 32.5vw;
    top: 5vh;
}

.heading-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading-container h1 {
    font-size: 3.5rem;
    margin: 0 0 2rem 0;
}

.heading-container p {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    font-weight: 550;
}

.about-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

#about {
    display: none;
}

.about-body img {
    height: 15rem;
    width: 15rem;
    margin: 2rem 0;
}

.about-body p {
    max-width: 30vw;
    text-align: justify;
    font-weight: 500;
    font-size: 1.8vh;
}

#propic {
    display: none;
}

#propic_blue:hover {
    transform: scale(1);
}

.social-links-header-container {
    display: none;
}

.footer-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 38.5vw;
}

.footer-container h1, .footer-container p {
    display: none;
}

.social-links-footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-links-footer {
    margin: 0 1.5rem;
}

#github-footer {
    height: 2.5rem;
    width: 2.5rem;
}

#linkedin-footer {
    height: 2.5rem;
    width: 3rem;
}

#email-footer {
    height: 3.5rem;
    width: 3.5rem;
}

#instagram-footer {
    height: 3rem;
    width: 3rem;
}

#copyright {
    display: initial;
}


/* Technical */
#tech {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
}

.technical-projects-container {
    display: grid;
    grid-template-columns: 28rem 28rem;
    justify-content: center;
    column-gap: 3rem;
}

.technical-project {
    background-color: transparent;
    width: 27.5rem;
    height: 20rem;
    margin: 1rem;
}

.technical-project-inner {
    position: relative;
    width: inherit;
    height: inherit;
    text-align: center;
    transition: transform .6s;
    transform-style: preserve-3d;
    box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,.3);
    cursor: pointer;
    border-radius: 1rem;
}

.technical-project-header, .technical-project-description {
    position: absolute;
    width: inherit;
    height: inherit;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color: #EDF7D2;
    border-radius: 1rem;
}

.technical-project-header h3 {
    margin-bottom: .75rem;
    font-size: 1.75rem;
    font-weight: 1000;
}

.technical-project-header p {
    margin-top: 0;
    font-size: 1.25rem;
}

.tech-project-links {
    width: 4rem;
    margin: 0 1rem;
    margin-top: 6rem;
}

.technical-project-description {
    transform:  rotateY(180deg);
    overflow-y: scroll;
}

.technical-project-description p {
    width: inherit - 1rem;
    height: inherit - 1rem;
    color: black;
    padding: 1.25rem;
    margin: 0;
    text-align: left;
    font-size: 1.05rem;
}


/* Qualifications */
#qual {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
}

.qualif-containter {
    display: grid;
    grid-template-columns: 30rem 15rem 30rem;
    justify-content: center;
    column-gap: 3rem;
    margin-top: 3rem;
}

.qualif-about-outer {
    background-color: transparent;
    width: 27.5rem;
    height: 30rem;
    margin: 1rem;
    grid-column: 1;
    grid-row: 1;
}

.qualif-about-container {
    position: relative;
    width: inherit;
    height: inherit;
    text-align: center;
    transition: transform .6s;
    transform-style: preserve-3d;
    box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,.3);
    cursor: pointer;
    border-radius: 1rem;
}

.qualif-about-header, .qualif-about-body {
    position: absolute;
    width: inherit;
    height: inherit;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color: #EDF7D2;
    border-radius: 1rem;
}

.qualif-about-header h3 {
    padding-top: 1.5rem;
    font-size: 1.75rem;
    font-weight: 1000;
}

.qualif-about-body {
    transform:  rotateY(180deg);
    overflow-y: scroll;
}

.qualif-about-body p {
    width: inherit - 1rem;
    height: inherit - 1rem;
    color: black;
    padding: 1.25rem;
    margin: 0;
    text-align: left;
    font-size: 1.05rem;
}

.qaulif-resume-container {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    font-size: 2rem;
    margin-top: 10rem;
}

.qaulif-resume-container a {
    text-decoration: none;
    background-color: #EDF7D2;
    box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,.3);
    border-radius: 1rem;
    padding: 1rem;
    font-weight: 1000;
    color: black;
}

.qaulif-resume-container a:hover {
    background-color: #edf7d2c8;
}

.qualif-skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    width: 27.5rem;
    height: 30rem;
    margin: 1rem;
}

.qualif-skills-container h3 {
    margin-top: 0;
}

.qualif-skills-inner {
    position: relative;
    width: inherit;
    height: inherit;
    text-align: left;
    transition: transform .6s;
    transform-style: preserve-3d;
    box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,.3);
    cursor: pointer;
    border-radius: 1rem;
}

.qualif-skills-header, .qualif-skills-body {
    position: absolute;
    width: inherit;
    height: inherit;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color: #EDF7D2;
    border-radius: 1rem;
}

.qualif-skills-header h3 {
    padding-top: 3rem;
    font-size: 1.75rem;
    font-weight: 1000;
    text-align: center;
}

.qualif-skills-body {
    transform:  rotateY(180deg);
    overflow-y: scroll;
}

.qualif-skills-body p {
    width: inherit - 1rem;
    height: inherit - 1rem;
    color: black;
}

.skills-item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 10rem;
    margin-left: 1rem;
}

.skills-item p {
    margin: .375rem 0;
}

.skill-level {
    text-decoration: underline;
    margin-bottom: .5rem;
    margin-left: 1rem;
}


/* Service */
#serv {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
}

#serv::-webkit-scrollbar {
    display: none;
}

.service-projects-container {
    display: grid;
    grid-template-columns: 28rem 28rem;
    justify-content: center;
    column-gap: 3rem;
}

.service-project {
    background-color: transparent;
    width: 27.5rem;
    height: 20rem;
    margin: 1rem;
}

.service-project-inner {
    position: relative;
    width: 27.5rem;
    height: 20rem;
    text-align: center;
    transition: transform .6s;
    transform-style: preserve-3d;
    box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,.3);
    cursor: pointer;
    border-radius: 1rem;
}

.service-project-header, .service-project-description {
    position: absolute;
    width: inherit;
    height: inherit;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 1rem;
}

.service-project-header {
    background-color: #EDF7D2;
}

.service-project-header h3 {
    margin-bottom: .75rem;
    font-size: 1.75rem;
    font-weight: 1000;
}

.service-project-header p {
    margin-top: 0;
    font-size: 1.25rem;
}

.service-project-links {
    width: 5rem;
    margin: 0 1rem;
    margin-top: 8rem;
}

#NSA_logo {
    margin-top: 4rem;
}

.service-project-description {
    background-color: #EDF7D2;
    transform:  rotateY(180deg);
}

.service-project-description p {
    width: inherit - 1rem;
    height: inherit - 1rem;
    color: black;
    padding: 1rem;
    margin: 0;
    text-align: left;
}