/* Overall */
html {
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.dark-box {
    background-color: #EAEAEA;
    padding-top: .5rem;
    padding-bottom: 1rem;
}

.section-title {
    display: flex;
    justify-content: center;
    color: #500000;
    font-size: 2rem;
}

img:hover {
    animation: wiggle 0.4s;
}

#propic:hover {
    animation: none;
}

.button-tab {
    display: none;
}

.style1-width {
    width: 100vw;
}

.technical-project-inner, .service-project-inner {
    display: inherit;
}


/* Navigation */
.open-button {
    font-size: 2.5rem; 
    cursor: pointer; 
    position: fixed; 
    top: 20px; 
    left: 20px; 
    background-color: white;
    padding: 0 .5rem .25rem .5rem;
    border-radius: 5px;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 0;
    z-index: 1;
    position: fixed;
    transition: .5s;
    height: 100vh;
    background-color: #500000;
    color: white;
    padding-top: 4rem;
}

.navbar-container a {
    font-size: 1.5rem;
    margin: 1rem;
    display: block;
    width: 15rem;
}

.navbar-container button {
    background: transparent;
    color: white;
    border: .3rem solid white;
    border-radius: .25rem;
    width: 11.25rem;
    font-size: 1.25rem;
    margin: 2rem 0 0 .9rem;
    cursor: pointer;
}

.close-button {
    font-size: 2.5rem;
    cursor: pointer;
    position: absolute;
    right: 1.5rem;
    top: .5rem;
}

.close-button:hover, .navbar-container a:hover {
    color: #c2c2c2;
}

.navbar-container button:hover {
    color: #c2c2c2;
    border-color: #c2c2c2;
}



/* Landing */
.heading-container {
    color: white;
    text-align: center;
    background: url("images/Zachry_Engineering_Education_Complex.jpg");
    z-index: -1;
    height: 62vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading-container h1 {
    font-size: 5rem;
    margin: 0 0 2rem 0;
}

.heading-container p {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.social-links-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.social-links-header {
    margin: 0 1.5rem;
}

.social-links-header:hover {
    animation: wiggle 0.4s;
}

#github-header {
    height: 3rem;
    width: 3rem;
}

#linkedin-header {
    height: 3rem;
    width: 3.5rem;
}

#email-header {
    height: 4rem;
    width: 4rem;
}

.about-body {
    display: flex;
    flex: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.about-body img {
    height: 15rem;
    width: 15rem;
    margin-left: 5rem;
}

.about-body p {
    max-width: 30vw;
    margin-left: 5rem;
    text-align: justify;
}


/* Technical */
.technical-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}

.technical-project-header {
    width: 10vw;
    margin: 0 5rem;
}

.technical-project-header h3 {
    margin-bottom: .5rem;
    font-size: 1.25rem;
    font-weight: 1000;
}

.technical-project-header p {
    margin-top: 0;
}

.technical-project-description {
    max-width: 30vw;
    text-align: justify;
}

.tech-project-links {
    width: 2.5rem;
    margin-right: .5rem;
}


/* Qualifications */
.qualif-containter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qualif-containter h3 {
    color: #500000;
    text-align: center;
    font-size: 1.5rem;
}

.qaulif-resume-container {
    text-align: center;
    margin-top: 2rem;
}

.qaulif-resume-container a {
    background-color: transparent;
    font-weight: bold;
    color: #500000;
    outline: none;
    border: solid black;
    border-radius: .25rem;
    cursor: pointer;
    font-size: 1.5rem;
    padding: .25rem;
}

.qaulif-resume-container a:hover {
    filter: drop-shadow(2px 2px 2px gray);
}

.qualif-about-container {
    max-width: 40vw;
    margin: 2rem 0;
    text-align: justify;
}

.qualif-about-container p {
    margin: .75rem 0;
}

.qualif-skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.qualif-skills-container h3 {
    margin-top: 0;
}

.skills-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
}

.skills-item p {
    margin: .375rem 0;
}

.skills-item span {
    height: 10px;
    width: 10px;
    position: relative;
    margin-left: 3px;
    vertical-align: middle;
    background-color: #500000;
    border-radius: 25%;
    display: inline-block;
}


/* Service */
.service-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}

.service-project-header {
    width: 12vw;
    margin: 0 5rem;
}

.service-project-header h3 {
    margin-bottom: .5rem;
    font-size: 1.25rem;
    font-weight: 1000;
}

.service-project-header p {
    margin-top: 0;
}

.service-project-description {
    max-width: 30vw;
    text-align: justify;
}

.service-project-links {
    width: 5rem;
    margin-right: .5rem;
}


/* Footer */
.footer-container {
    color: #500000;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer-container h1 {
    font-size: 2rem;
    margin: 0;
}

.footer-container p {
    font-size: 1rem;
    margin-bottom: .5rem;
}

.footer-text-container {
    margin: 1.5rem 0;
}

.social-links-footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: .75rem;
}

.social-links-footer-container button {
    background: none;
    border: none;
    cursor: pointer;
}

.social-links-footer {
    margin: 0 1.5rem;
}

#github-footer {
    height: 2.5rem;
    width: 2.5rem;
}

#linkedin-footer {
    height: 2.5rem;
    width: 3rem;
}

#email-footer {
    height: 3.5rem;
    width: 3.5rem;
}

#instagram-footer {
    height: 3rem;
    width: 3rem;
}


/* animations */
@keyframes wiggle {
    25% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(10deg);
    }
}